<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>T1Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>T2Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>T3OBJC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>T4OBJC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>T5C++.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestAll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4592152F1A5AA298009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4592153B1A5AA29D009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215461A5AA2A3009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215511A5AA2BE009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4592155C1A5AA2D6009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215671A5AA2DB009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215721A5AA2EB009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4592157D1A5AA2F4009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215851A5AA388009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215961A5AA3F0009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215A11A5AA41F009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215AC1A5AA512009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215BF1A5AA9B3009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459215CA1A5AA9BD009C1D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
